{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <div class="d-flex justify-content-between">
        <a href="{{ path("app_eleve_dashboard") }}" class="btn btn-outline-secondary w-25">Retour</a>
        <button class="btn btn-outline-success w-25">{{ button_label|default('Inscription') }}</button>
    </div>
{{ form_end(form) }}
