<form method='post' action='{{ path('app_vehicule_delete', {'id': vehicule.id}) }}' onsubmit='return true;'>
    <input type='hidden' name='_token' value='{{ csrf_token('delete' ~ vehicule.id) }}'>
    <div class='modal' id='exampleModal{{ vehicule.id }}' tabindex='-1' aria-labelledby='exampleModalLabel{{ vehicule.id }}' aria-hidden='true'>
        <div class='modal-dialog'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLabel{{ vehicule.id }}'>Suppression du véhicule</h5>
                    <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
                </div>
                <div class='modal-body'>
                    <p>Vous allez supprimer le véhicule: {{ vehicule.marque }} {{ vehicule.modele }}!</p>
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Annuler</button>
                    <button class='btn btn-outline-danger'>Confirmer</button>
                </div>
            </div>
        </div>
    </div>
    <a class='btn btn-outline-danger' href='#' data-bs-toggle='modal' data-bs-target='#exampleModal{{ vehicule.id }}'>Supprimer</a>
</form>