{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <div class="d-flex justify-content-between">
        <button class="btn btn-outline-success">{{ button_label|default('Ajouter le véhicule') }}</button>
        <a class="btn btn-outline-secondary" href="{{ path('app_vehicule_index') }}">Retour</a>
    </div>
{{ form_end(form) }}
