{% extends 'base.html.twig' %}

{% block title %}Lecon{% endblock %}

{% block body %}
    <h1>Lecon</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lecon.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ lecon.date ? lecon.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ lecon.heure }}</td>
            </tr>
            <tr>
                <th>Payee</th>
                <td>{{ lecon.payee ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lecon_index') }}">back to list</a>

    <a href="{{ path('app_lecon_edit', {'id': lecon.id}) }}">edit</a>

    {{ include('lecon/_delete_form.html.twig') }}
{% endblock %}
